:root{
    --common-padding:15px 20px;
    --common-background:#fff;
}

/*=========================================================
    section 정의
=========================================================*/
.evolution-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.evolution-wrap{
    width:60%;
    margin:0 auto;
    padding: 50px 0;
    box-sizing: border-box;
}

.evolution-content{
    background:#fff;
    padding:27.5px;
    min-height: 695px;
}

/*=========================================================
    section 타이틀 정의
=========================================================*/
.evolution-content-tit{
    font-size:32px;
    font-weight: 600;
    margin-bottom:25px;
}

/*=========================================================
    포켓몬 진화에 대한 설명 정의
=========================================================*/
.terms_area {
    height: 315px;
    border: 1px solid #bbb;
    font-size: 12px;
    color: #888;
    line-height: 1.75;
    font-weight: 300;
    /* overflow-y: auto; */
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom:20px;
}

.terms_row1, .terms_row2{
    margin-bottom:10px;
}

.terms_title{
    color:#000;
    font-weight: 600;
}

.terms_line{
    font-size:10px;
    position: relative;
    padding:0 4px;
    top:-1px;
}

.terms_b{
    color: #000;
    font-weight: 600;
}

.terms_red{
    color: #da343c;
    font-weight: 600;
}

/*=========================================================
    입력 필드 엘리먼트 정의
=========================================================*/
.evo-content-row1, .evo-content-row2, .evo-content-row3{
    display: grid;
    align-items: center;
    margin-bottom: 25px;
}

.evo-row1-col, .evo-row2-col, .evo-row3-col{
    display: flex;
    flex-direction: column;
}

.evo-col-content{
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
}

/*=========================================================
    진화 단계 정의
=========================================================*/
.evo-level-check label {
    padding-right: 20px;
}

.evo{
    width: 17px;
    height: 17px;
    position: relative;
    top: 3px;
    margin-left:5px;
}
