:root{
    --common-padding:15px 20px;
    --common-background:#fff;
}


/*=========================================================
    section 정의
=========================================================*/
.registration-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.registration-wrap{
    width:60%;
    /* max-width:580px; */
    margin:0 auto;
    padding: 50px 0;
    /* padding: 25px 0; */
    box-sizing: border-box;
}

.registration-content{
    background:#fff;
    padding:27.5px;
    /* padding:55px; */
}

/*=========================================================
    section 타이틀 정의
=========================================================*/
.registration-content-tit{
    font-size:32px;
    font-weight: 600;
    margin-bottom:25px;
}


/*=========================================================
    유효성 검사 에러 메시지 정의
=========================================================*/
.error-message {
    color: #ff0000;
    font-size: 12px;
    padding-left: 120px;
    padding-top: 10px;
}


/*=========================================================
    시리얼넘버, 이름 정의
=========================================================*/
.content-row1, .content-row3, .content-row4, .content-row6{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    margin-bottom:25px;
}

.row1-col, .row2-col{
    display: flex;
    flex-direction: column;
}

.col-content{
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
}

input#id, input#name{
    height: auto;
    padding: var(--common-padding);
    border: 1px solid #bbb;
    border-radius: 0;
    background: var(--common-background);
}

/* 라벨 */
label {
    text-align: center;
}

.right-tit{
    text-align: center;
}

/*=========================================================
    상세 설명 정의
=========================================================*/
.content-row2{
    display:grid;
    align-items: center;
    margin-bottom: 25px;
}

textarea#defail{
    height:47px;
    /* height: auto; */
    padding: var(--common-padding);
    border: 1px solid #bbb;
    border-radius: 0;
    background: var(--common-background);
}


/*=========================================================
    타입 정의
=========================================================*/
input#type1, input#type2{
    height: auto;
    padding: var(--common-padding);
    border: 1px solid #bbb;
    border-radius: 0;
    background: var(--common-background);
}

.type1, .char1{
    display:flex;
    justify-content: center;
}

.type-tooltip-img, .char-tooltip-img {
    width: 15px;
    height: 15px;
    margin-left:5px;
}

/* 타입 툴팁 정의 */
.type-tooltip1{
    display: none;
    position: absolute;
    top:40%;
    left:11.5%;
    background:rgba(0,0,0,0.7);
    border: 1px solid #ccc;
    color:#fff;
    font-size:12px;
    padding: 10px;

    width:11%;
    word-break: keep-all;
    line-height: 1.5;
}

.con-tooltip.tooltip-visible .type-tooltip1{
    display: block;
}

.type-tooltip-img:hover .type-tooltip1 {
    display: block;
}


/*=========================================================
    키, 분류 정의
=========================================================*/
input#height, input#category{
    height: auto;
    padding: var(--common-padding);
    border: 1px solid #bbb;
    border-radius: 0;
    background: var(--common-background);
}


/*=========================================================
    성별 정의
=========================================================*/
.content-row5{
    /* display:grid; */
    /* grid-template-columns: 120px 1fr; */
    /* align-items: center; */
    /* margin-bottom: 25px; */

    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom:25px;
}


.gender-wrap {
    display: flex;
    align-items: center;
}

.male{
    padding-right: 5px;
}

input#male, input#female {
    width: 17px;
    height: 17px;
    position: relative;
    top: -1px;
}

.female {
    padding-left: 20px;
    padding-right: 5px;
}


/*=========================================================
    몸무게, 특성 정의
=========================================================*/
input#weight, input#characteristic1, input#characteristic2{
    height: auto;
    padding: var(--common-padding);
    border: 1px solid #bbb;
    border-radius: 0;
    background: var(--common-background);
}

/* 특성 툴팁 정의 */
.type-tooltip2{
    display: none;
    position: absolute;
    /* top:37.8%; */
    top:50%;
    right:14.9%;
    /* left:11.5%; */
    background:rgba(0,0,0,0.7);
    border: 1px solid #ccc;
    color:#fff;
    font-size:12px;
    padding: 10px;

    width:30%;
    word-break: keep-all;
    line-height: 1.5;
}

.con-tooltip.tooltip-visible .type-tooltip2{
    display: block;
}

.char-tooltip-img:hover .type-tooltip2{
    display: block;
}

.viewmore-txt{
    color:yellow;
}

.viewmore-txt2{
    color: #004682;
    font-weight: 600;
}


/*=========================================================
    이미지 정의
=========================================================*/
.content-row7{
    display:grid;
    align-items: center;
    margin-bottom: 25px;
}


/*=========================================================
    등록하기 버튼 정의
=========================================================*/
.btn-submit{
    width: 100%;
    padding: 20px 0;
    background-color: #da343c;
    border: none;
    color: #fff !important;
    cursor: pointer;
    font-family: 'Pretendard-Regular';
    font-size:16px;
}

.btn-submit:hover{
    opacity: 0.8;
}
