.main-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wrap{
    width: 90%;
    margin: 0 auto;
    padding: 25px 0;
    box-sizing: border-box;
}


.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pokemon-col {
    width: calc(16.666% - 10px); 
    margin-bottom: 20px;
    box-sizing: border-box;
}

.pokemon-image{
    padding: 20px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    transition: .5s;
}

/* 이미지 */
.uploads-image {
    max-width: 100%;
    height: auto;
    display: block;
}
