.main-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wrap{
    width: 90%;
    margin: 0 auto;
    padding: 25px 0;
    box-sizing: border-box;
}

.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}


.pokemon-data{

}