footer{
    background:#000;
    color:#fff;
    padding:30px 40px;
    box-sizing: border-box;
    display: flex;
    /* justify-content: space-between; */

    flex-direction: column;
    align-items: center;
}

/* 로고 */
.footer-logo{
    display: flex;
    /* width: 22.3%; */
    /* width: 17%; */
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
}


.lu-txt{
    /* padding-left:50px; */
}


.sidemap {
    display: flex;
    padding-left:20px;
}

.copy-txt{
    font-size:12px;
    color: #444444;
    margin-top:10px;
}

.sm-line{
    font-size: 12px;
    position: relative;
    margin: 0px 10px;
    top: 4px;
}