:root{
    --common-padding:15px 20px;
    --common-background:#fff;
}


/*=========================================================
    section 정의
=========================================================*/
.edit-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.edit-wrap{
    width:60%;
    margin:0 auto;
    padding: 50px 0;
    box-sizing: border-box;
}

.edit-content{
    background:#fff;
    padding:27.5px;
    min-height: 695px;
}

/*=========================================================
    section 타이틀 정의
=========================================================*/
.edit-content-tit{
    font-size:32px;
    font-weight: 600;
    margin-bottom:25px;
}

/* 수정 페이지에서는 시리얼넘버 변경하지 못하도록 정의 */
.edit-serial-disabled{
    background: #F0F0F0 !important;
    color:#333333;
    border: none;
    outline: none; 
    pointer-events: none;
}